@use '../../styles/colors.module.scss' as colors;

.container {
    background-color: colors.$colorWhite;
    padding: 40px 20px;
    display: grid;
    gap: 50px;
    line-height: 1.5;
}

.personalData {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.textContainer {
    max-width: 900px;
}

.sourceList {
    list-style: disc;
    margin-left: 20px;
}
