@import '../../styles/colors.module.scss';

.container {
    background-color: $background;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.image {
    max-height: 400px;
    width: auto;
    border-radius: 100%;
}

.imageContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}
