@use '../../styles/colors.module.scss' as colors;

.container {
    background-color: colors.$colorLightGray;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: monospace;
}

.image {
    max-height: 400px;
    width: auto;
    border-radius: 100%;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.description {
    font-size: 20px;
}

.circle {
    display: grid;
    place-content: center;
    border-radius: 100%;
    
    --border-angle: 0turn; // For animation.
    --main-bg: conic-gradient(
        from var(--border-angle),
        #fff0ff,
        #fff0ff 5%,
        #fff0ff 60%,
        #ffdbfc 95%
    );
  
    border: solid 5px transparent;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #5c5c5c, rgb(63, 63, 63) 99%);
    
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin 2.5s linear;
    animation-iteration-count: 1;

    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
