@use '../../styles/colors.module.scss' as colors;

.container {
    background-color: colors.$colorLightGray;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: monospace;
    line-height: 1.5;
}

.image {
    max-height: 400px;
    width: auto;
    border-radius: 100%;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.description {
    font-size: 20px;
}
