@use '../../styles/colors.module.scss' as colors;

.container {
    background-color: colors.$background;
}

.background {
    background-image: url('../../../public/assets/images/monitorCode.png');
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;

    $blur: blur(1.5px);
    -webkit-filter: $blur;
    -moz-filter: $blur;
    -o-filter: $blur;
    -ms-filter: $blur;
    filter: $blur;
}
