@use '../../styles/colors.module.scss' as colors;

$margin: 20px;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 40px;
$icon-size: 32px;
$bdrs-icon: 100%;

.container {
    background: colors.$colorLightGray;
    padding: 40px 20px;
}

.bulletPointContainer {
    list-style: disc;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.timeline {
	display: flex;
	flex-direction: column;
	margin: $margin auto;
	position: relative;
    z-index: 1;
}

.event {
    opacity: 0;
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    border-radius: $bdrs;
    align-self: center;
    width: 50vw;
    animation-delay: 2s;

    &:nth-child(2n + 1) {
        flex-direction: row-reverse;
        animation-delay: 1s;

        .date {
            border-radius: 0 $bdrs $bdrs 0;
        }

        .content {
            border-radius: $bdrs 0 0 $bdrs;
        }
        
        .date {
            color: colors.$colorLightBlue;
            background: colors.$colorDarkBlue;
        }

        .title {
            color: colors.$colorDarkBlue;
        }
        
        &:after {
            background: colors.$colorDarkBlue;
        }

        .icon {
            background: colors.$colorLightBlue;
            color: colors.$colorDarkBlue;
            
            &:before,
            &:after {
                background: colors.$colorLightBlue;
            }

            &:before {
                width: 2px;
                height: 100%;
                top: 0%;
                left: 50%;
                right: auto;
                transform: translateX(-50%);
                animation: fillTop 2s forwards 4s ease-in-out;
            }

            &:after {
                width: 100%;
                height: 2px;
                right: 0;
                top: 50%;
                left: auto;
                transform: translateY(-50%);
                animation: fillLeft 2s forwards 4s ease-in-out;
            }
        }
    }

    // remove bottom line for last icon
    &:last-child {
        .icon {
            &:before {
                content: none;
            }
        }
    }

    @media (max-width: 1080px) {
        flex-direction: column;
        align-self: center;
        width: 100%;

        .content, 
        .date {
            width: 100%;
        }

        .icon {
            display: none;
        }

        .date {
            border-radius: 0;
            padding: $spacing;
        }

        &:nth-child(2n + 1) {
            flex-direction: column;
            align-self: center;

            .date {
                border-radius: 0;
                padding: $spacing;
            }

            .icon {
                border-radius: $bdrs $bdrs 0 0;
                margin: 0;
            }
        }
    }
}

.title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: colors.$colorDarkViolet;
    letter-spacing: 1.5px;
}

.icon {
    align-self: center;
    margin: 0 $spacing;
    background: colors.$colorLightViolet;
    border-radius: $bdrs-icon;
    box-shadow: 0 30px 60px -12px #32325d40, 0 18px 36px -18px #0000004d, 0 -12px 36px -8px #00000006;
    padding: $circle-size;
    position: relative;

    &:before {
        width: 2px;
        height: 100%;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 2s forwards 3s ease-in-out;
    }

    &:after {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        animation: fillLeftOdd 2s forwards 3s ease-in-out;
    }

    &:before,
    &:after {
        content: "";
        background: colors.$colorLightViolet;
        position: absolute;
        z-index: -1;
    }
}

.description {
    flex-basis: 100%;
}

.content {
    padding: $spacing;
    box-shadow: 0 30px 60px -12px rgba(255, 255, 255, 0.25),
        0 18px 36px -18px rgba(255, 255, 255, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 $bdrs $bdrs 0;
}

.date {
    color: colors.$colorLightViolet;
    font-size: 18px;
    font-weight: 600;
    background: colors.$colorDarkViolet;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 $spacing;
    border-radius: $bdrs 0 0 $bdrs;

    width: 130px;
    white-space: initial;
}

@keyframes fillLeft {
	100% {
		right: 100%;
	}
}

@keyframes fillTop {
	100% {
		top: 100%;
	}
}

@keyframes fillLeftOdd {
	100% {
		left: 100%;
	}
}

.animated {
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

// fade in content boxes
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}