@use '../../styles/colors.module.scss' as colors;

.container {
    box-shadow: 0 -14px 8px -12px #dddddd;
    padding: 40px 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;

    a {
        all: unset;
        cursor: pointer;
        
        &:link,
        &:visited {
            color: colors.$colorMediumGray;
        }

        &:hover {
            color: colors.$colorDarkGray;
        }
    }
}
