@use '../../styles/colors.module.scss' as colors;

.container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
}

.contactText {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: colors.$colorDarkGray;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: colors.$colorWhite;
    border: 1px solid colors.$colorMediumGray;

    &:hover {
        background-color: colors.$colorAliceBlue;
    }
}

.linkedInButton {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 15px;
        height: 15px;
    }
}
