@use '../../styles/colors.module.scss' as colors;

.container {
    padding: 40px 20px;
}

.swiperSlide {
    display: flex !important;
    width: 100% !important;
}

.photographyContainer {
    cursor: grab;
    max-width: 635px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imageContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.image {
    object-fit: contain;
    max-height: 425px;
    border-radius: 5px;
}

.descriptionContainer {
    font-size: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    background-color: colors.$colorWhite;
    color: colors.$background;
    padding: 20px;
    border-radius: 5px;
    max-height: fit-content;
}

.descriptionTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    max-width: 500px;
}
