@use '../../styles/colors.module.scss' as colors;

.title {
    font-size: 35px;
    margin-bottom: 30px;
}

.chartContainer {
    height: 300px;
    width: 300px;
}

.container {
    padding: 40px;
    text-align: center;
    background-color: colors.$background;
    color: colors.$colorWhite;
}

.skillContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.skillTitle {
    margin-bottom: 20px;
    font-size: 18px;
    display: block;
}