@use '../../styles/colors.module.scss' as colors;

.title.title {
    font-size: 22px;
    color: colors.$colorLightViolet;
}

.container {
    padding: 40px;
    text-align: center;
    background-color: colors.$background;
    color: colors.$colorWhite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}

.skillContainer {
    font-weight: bold;
    font-family: monospace;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.advanced {
    font-size: 20px;
}

.medium {
    margin-top: 10px;
    font-size: 16px;
}

.low {
    margin-top: 10px;
    font-size: 14px;
}