$background: #252525;
$colorLightGray: #f8f8f8;
$colorMediumGray: #949494;
$colorDarkGray: #424242;
$colorWhite: #ffff;
$colorDarkViolet: #9251ac;
$colorLightViolet: #f6a4ec;
$colorLightBlue: #87bbfe;
$colorDarkBlue: #555ac0;

:export {
    background: $background;
    colorWhite: $colorWhite;
    colorDarkViolet: $colorDarkViolet;
    colorLightViolet: $colorLightBlue;
    colorLightBlue: $colorLightBlue;
    colorDarkBlue: $colorDarkBlue;
    colorLightGray: $colorLightGray;
    colorMediumGray: $colorMediumGray;
    colorDarkGray: $colorDarkGray;
}
