$colorBlack: #000000;
$background: #252525;
$colorLightGray: #f8f8f8;
$colorMediumGray: #949494;
$colorDarkGray: #424242;
$colorWhite: #ffff;
$colorDarkViolet: #441752;
$colorLightViolet: #EFB6C8;
$colorAliceBlue: #ecf9ff;
$colorLightBlue: #79D7BE;
$colorDarkBlue: #2E5077;
$shadowColor: #dbdbdb;

:export {
    colorBlack: $colorBlack;
    background: $background;
    colorWhite: $colorWhite;
    colorDarkViolet: $colorDarkViolet;
    colorLightViolet: $colorLightBlue;
    colorLightBlue: $colorLightBlue;
    colorDarkBlue: $colorDarkBlue;
    colorLightGray: $colorLightGray;
    colorMediumGray: $colorMediumGray;
    colorDarkGray: $colorDarkGray;
    colorAliceBlue: $colorAliceBlue;
}
