:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f5f5f5;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    background: #ffffff !important;
}

.swiper-slide {
    display: flex !important;
    width: 100% !important;
}
